.hamburger {
  position: relative;
  padding: 0.5rem;
}

.hamburgerPosition {
  left: 0px;
  top: 3rem;
}

.headerNav {
  height: 3rem;
  background-color: black;
}

.headerSubNav {
  display: flex;
  @media (min-width: 768px) {
    display: none;
  }
}

.iconStyle {
  width: 2rem;
  height: 2rem;
  color: gray;
}
